.advantages {
  &__list {
    display: flex;
  }
  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--second-text-color);
  }
  &__descriptions {
    width: 270px;
  }
}

.advantages__item {
  width: calc((100% - 3 * 30px) / 4);

  &::before {
    display: block;
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--semi-light-background-color);
  }
  
  &:not(:last-child) {
    margin-right: 30px;
  }

  &:nth-child(1)::before {
    background-image: url(../images/antenna.svg);
  }

  &:nth-child(2)::before {
    background-image: url(../images/clock.svg);
  }

  &:nth-child(3)::before {
    background-image: url(../images/diagram.svg);
  }

  &:nth-child(4)::before {
    background-image: url(../images/astronaut.svg);
  }
}
