.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-background-color);

  &__address-wrap {
    margin-bottom: 60px;
    text-align: center;
    @include tablet {
      // margin-right: 165px;
      margin-bottom: 0;
    }
    @include desktop {
      // margin-right: 70px;
      text-align: start;
    }
  }

  &__soc-list-wrap {
    text-align: center;
    @include tablet {
      margin-left: 165px;
    }
    @include desktop {
      text-align: start;
      margin-left: 70px;
    }
  }

  &__add-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;

    @include tablet {
      flex-direction: row;
    }
    @include desktop {
      margin-bottom: 0;
      align-items: baseline;
    }
  }
}
