.hero {
  padding: 118px 0;
  margin: 0 auto;
  text-align: center;

  background-color: var(--hero-background-color);
  background-image: var(--bg-gradient), url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  @include retina {
    background-image: var(--bg-gradient), url(../images/hero-bg-mob-2x.jpg);
  }
  @include tablet {
    background-image: var(--bg-gradient), url(../images/hero-bg-tab.jpg);
    @include retina {
      background-image: var(--bg-gradient), url(../images/hero-bg-tab-2x.jpg);
    }
  }
  @include desktop {
    padding: 200px 0;
    background-image: var(--bg-gradient), url(../images/hero-bg-desk.jpg);
    @include retina {
      background-image: var(--bg-gradient), url(../images/hero-bg-desk-2x.jpg);
    }
  } 
}
