.work {
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__thumb {
    position: relative;
  }

  &__text {
    position: absolute;
    bottom: 0;

    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    text-align: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--light-text-color);
    background-color: var(--work-item-text-bg);
  }
}
