.address {
  &__item:not(:last-child) {
    margin-bottom: 8px;
    @include desktop {
      margin-bottom: 9px;
    }
  }
}
.address__map {
  color: var(--light-text-color);
  transition: color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.address__contacts {
  color: var(--semi-light-text-color);
  transition: color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
