.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid royalblue;
}

.header__container {
  @extend %align-list;
  
}

.footer__container {
  display: flex;
  align-items: baseline;
}
