.contacts {
  display: none;
  @extend %align-list;
  column-gap: 50px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    }
  
  &__item {
    display: flex;
    align-items: center;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;

    transition: color var(--duration) var(--timing-function);

  }
  &__item:hover,
  &__item:focus {
    color: var(--accent-color);
  }
  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

.header__contacts {
  margin-left: auto;
}
