.main-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-text-color);

  @include mobile {
    width: 360px;
  }
  @include desktop {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__main-title {
  margin: 0 auto 30px auto;
}
