.mob-menu__btn {
    @extend %align-list;
    justify-content: center;
    margin-left: auto;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: var(--light-background-color);
    cursor: pointer;

    transition: fill var(--duration) var(--timing-function);

    &:hover,
    &:focus,
    &:active {
        fill: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
        display: none;

    }
}


.mob-menu {
    position: fixed;
    top: 0;
    background: var(--light-background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 15px;
    overflow: auto;
    z-index: 1;

           transition: opacity var(--duration) var(--timing-function),
            visibility var(--duration) var(--timing-function);

    @media screen and (min-width: 768px) {
            display: none;
                
        }
}


.mob-menu__btn--close {
    position: absolute;
    top: 10px;
    right: 15px;

}

.mob-menu__list {
    margin-bottom: 50px;
}

.mob-menu__item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: var(--second-text-color);
    margin-bottom: 32px;

    transition: color var(--duration) var(--timing-function);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
    }
}

.mob-menu__contacts {
    margin-bottom: 64px;
}

.mob-menu__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: var(--accent-color);
    display: block;
    margin-bottom: 32px;
}

.mob-menu__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: var(--main-text-color);

    transition: color var(--duration) var(--timing-function);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
}

.mob-menu__soc-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.mob-menu__soc-item:not(:last-child) {
    margin-right: 5px;
}

.mob-menu__soc-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.mob-menu__soc-link::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    height: 22px;
    width: 1px;
    background-color: var(--input-border);
}