.portfolio-card {
  position: relative;
  display: block;
  // height: 100%;

  transition: box-shadow var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @extend %align-list;
    padding-left: 24px;
    padding-right: 24px;
   

    background-color: var(--overlay-color);

    transform: translateY(100%);
    transition: transform var(--duration) var(--timing-function);
  }

  &__text-overlay {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--light-text-color);
  }

  &:hover &__overlay,
  &:focus &__overlay {
    transform: translateY(0%);
  }

  &__caption {
    height: 100%;
    padding: 20px 24px;
    border: 1px solid var(--border-color);
    border-top: transparent;
  }

  &__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-text-color);
  }

  &__text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--main-text-color);
  }
}
