.close-button {
  @extend %align-list;
  justify-content: center;
  padding: 0;

  width: 30px;
  height: 30px;
  border: 1px solid var(--modal-btn-border-color);
  border-radius: 50%;
  background-color: var(--light-background-color);
  cursor: pointer;

  transition: fill var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
}
