body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--light-background-color);
}

.link {
  text-decoration: none;
  font-style: normal;
}

.no-scroll {
  overflow: hidden;
}
