:root {
    --main-text-color: #757575;
    --second-text-color: #212121;
    --light-text-color: #ffffff;
    --semi-light-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196f3;
    --btn-accent-color: #188ce8;
    --logo-text-color: #000000;
    --dark-background-color: #2f303a;
    --light-background-color: #ffffff;
    --semi-light-background-color: #f5f4fa;
    --line-color: #ececec;
    --border-color: #eeeeee;
    --main-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
    --hero-background-color: #c4c4c4;
    --icon-color: #afb1b8;
    --footer-icon-color: rgba(255, 255, 255, 0.1);
    --overlay-color: rgba(33, 150, 243, 0.9);
    --modal-backdrop-color: rgba(0, 0, 0, 0.2);
    --modal-btn-border-color: rgba(0, 0, 0, 0.1);
    --work-item-text-bg: rgba(47, 48, 58, 0.8);
    --input-border: rgba(33, 33, 33, 0.2);
    --input-placeholder: rgba(117, 117, 117, 0.5);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --duration: 250ms;
}